# Core functionality - changes here should be rare!
/src/app.py                   @Motabcc
/src/backend/database.py      @Motabcc
/src/backend/routers/auth.py  @Motabcc

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Motabcc
